.numero {
  color: black;
  background-color:  rgb(230, 230, 230);
  border-radius: 30%;
  width: 55px;
  height: 55px;
  text-align: center;
}
.operacion {
  color: black;
  background-color: rgb(47, 218, 218);
  border-radius: 30%;
  width: 55px;
  height: 55px;
  text-align: center;
}
.c {
  color: black;
  background-color: rgb(235, 235, 205);
  border-radius: 30%;
  width: 55px;
  height: 55px;
  text-align: center;
}
#pantalla {
  background-color: rgb(230, 230, 230);
  width: 235px;
  height: 45px;
  border-radius: 15px;
  text-align: center;
  padding-top: 35px;
}